<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bbdt.bluetoothbicyclediagnostics"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="false"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/bbd_icon"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme">
        <activity
            android:name="com.bbdt.bluetoothbicyclediagnostics.activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bbdt.bluetoothbicyclediagnostics.activities.ManageAccountsActivity"
            android:label="@string/manage_accounts_activity_name" >
        </activity>
        <activity
            android:name="com.bbdt.bluetoothbicyclediagnostics.activities.RidingHistoryActivity"
            android:label="@string/riding_history_activity_name" >
        </activity>
        <activity
            android:name="com.bbdt.bluetoothbicyclediagnostics.activities.NewRideActivity"
            android:label="@string/new_ride_activity_name" >
        </activity>
        <service android:name="com.bbdt.bluetoothbicyclediagnostics.bluno.BluetoothLeService" android:enabled="true"/>
    </application>

</manifest>
